<app-page-heading pageName="About Us" ></app-page-heading>
<section
  class="container d-flex justify-content-between align-items-center p-5 mt-5 mb-3"
>
  <div class="left-content p-3">
    <div class="content-cont">
      <h2>A Minimal Team For a Better World</h2>
      <p class="py-4">
        Lorem Khaled Ipsum is a major key to success. The ladies always say
        Khaled you smell good, I use no cologne. Cocoa butter is the key. To
        succeed you must believe. When you believe, you will succeed. They will
        try to close the door on you, just open it. The key is to drink coconut,
        fresh coconut, trust me. It’s important to use cocoa butter. It’s the
        key to more success, why not live smooth?
      </p>
    </div>
  </div>
  <div class="right-content">
    <div class="img-container image-fluid">
      <img src="imgs/img80.jpg" alt="About Us" />
    </div>
  </div>
</section>
<section
  class="counterSec container text-center pt-xl-12 pb-xl-24 pt-lg-10 pb-lg-20 pt-md-8 pb-md-16 pt-5 pb-10"
>
  <ul
    class="progressCounter list-unstyled mb-2 d-flex flex-wrap text-capitalize text-center gap-5"
  >
    <li class="mb-md-0 mb-3 me-4">
      <strong class="d-block fwEbold counter mb-2">229</strong>
      <strong class="d-block text-uppercase txtWrap">Happy Clients</strong>
    </li>
    <li class="mb-md-0 mb-3 me-4">
      <strong class="d-block fwEbold counter mb-2">109</strong>
      <strong class="d-block text-uppercase txtWrap">completed project</strong>
    </li>
    <li class="mb-md-0 mb-3 me-4">
      <strong class="d-block fwEbold counter mb-2">22</strong>
      <strong class="d-block text-uppercase txtWrap">awesome staff</strong>
    </li>
    <li class="mb-md-0 mb-3 me-4">
      <strong class="d-block fwEbold counter mb-2">11</strong>
      <strong class="d-block text-uppercase txtWrap">winning awards</strong>
    </li>
  </ul>
</section>
<section class="delivery container py-5">
  <h2 class="px-3">Delivery Process</h2>
  <div class="img-fluid">
    <img src="imgs/sep.png" alt="separator" class="sep-img" />
  </div>
  <div class="delivery-content">
    <div class="row">
      <div class="col-12 pl-xl-23 mb-lg-3 mb-3">
        <div class="stepCol position-relative bg-body-secondary py-6 px-6">
          <strong
            class="mainTitle text-uppercase mt-n8 mb-3 d-block text-center py-1 px-3"
            >step 01</strong
          >
          <h2 class="headingV fwEblod text-uppercase">
            Choose your products
          </h2>
          <p class="p-3">
            There are many variations of passages of lorem ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour. Both betanin
          </p>
        </div>
      </div>
      <div class="col-12 pl-xl-23 mb-lg-3 mb-3">
        <div
          class="stepCol position-relative bg-body-secondary py-6 px-6 float-right"
        >
          <strong
            class="mainTitle text-uppercase mt-n8 mb-3 d-block text-center py-1 px-3"
            >step 02</strong
          >
          <h2 class="headingV fwEblod text-uppercase">
            Connect nearest stored
          </h2>
          <p class="p-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
          </p>
        </div>
      </div>
      <div class="col-12 pl-xl-23 mb-lg-3 mb-3">
        <div class="stepCol position-relative bg-body-secondary py-6 px-6">
          <strong
            class="mainTitle text-uppercase mt-n8 mb-3 d-block text-center py-1 px-3"
            >step 03</strong
          >
          <h2 class="headingV fwEblod text-uppercase">
            Share your location
          </h2>
          <p class="p-3">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore
          </p>
        </div>
      </div>
      <div class="col-12 pl-xl-23 mb-lg-3 mb-3">
        <div
          class="stepCol position-relative bg-body-secondary py-6 px-6 float-right"
        >
          <strong
            class="mainTitle text-uppercase mt-n8 mb-3 d-block text-center py-1 px-3"
            >step 04</strong
          >
          <h2 class="headingV fwEblod text-uppercase">
            Get delivered fast
          </h2>
          <p class="p-3">
            On the other hand, we denounce with righteous indignation and
            dislike men who are so beguiled and demoralized by the charms of
            pleasure of the moment.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
