/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --main-color: #5ba515;
  --sec-color: #097969;
  --third-color: #fd7e14;
}
::selection {
  background: var(--main-color);
  color: white;
}

::-webkit-scrollbar {
  background-color: initial;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--sec-color);
}
body.cart-visible .cart-content{
  transform: translateX(0) !important;
}
body.cart-visible .overlay{
  display: block;
}