<div class="container p-0">
  <div class="row pb-3">
    <div class="col-4">
      <div class="contact-info text-start">
        <h4>Contact Us</h4>
        <div class="info d-flex align-items-center p-2">
          <i class="fa-solid fa-location-dot"></i>
          <p class="m-0 ms-2">Address: Egypt - Cairo.</p>
        </div>
        <div class="info d-flex align-items-center p-2">
          <i class="fa-solid fa-phone"></i>
          <p class="m-0 ms-2">Phone: +201227936675</p>
        </div>
        <div class="info d-flex align-items-center p-2">
            <i class="fa-solid fa-envelope"></i>
          <p class="m-0 ms-2">Email: Georgefarag128&#64;gmail.com</p>
        </div>
        <div class="info d-flex align-items-center p-2">
          <p class="m-0 me-3">Follow us:</p>
          <i class="fa-brands fa-facebook me-3"></i>
          <i class="fa-brands fa-twitter me-3"></i>
          <i class="fa-brands fa-linkedin me-3"></i>
          <i class="fa-brands fa-pinterest me-3"></i>
        </div>
      </div>
    </div>
    <div class="col-2">
        <h4>Information</h4>
        <h6 class="py-1">New Products</h6>
        <h6 class="py-1">Top Sellers</h6>
        <h6 class="py-1">Our Blog</h6>
        <h6 class="py-1">About Our Shop</h6>
        <h6 class="py-1">Privacy policy</h6>
    </div>
    <div class="col-2">
        <h4>My Account</h4>
        <h6 class="py-1">My account</h6>
        <h6 class="py-1">Discount</h6>
        <h6 class="py-1">Orders history</h6>
        <h6 class="py-1">Personal information</h6>
    </div>
    <div class="col-4 text-center">
        <h4>Popular tags</h4>
        <div class="btn-cont d-flex flex-wrap justify-content-center mx-auto">
            <button>Trend</button>
            <button>Decor</button>
            <button>Plant</button>
            <button>Table tree</button>
            <button>Bedroom tree</button>
            <button>Living Tree</button>
        </div>
    </div>
    <div class="copy-rights">
      <hr style="width: 100%" class="mx-auto my-0" />
      <div
        class="d-flex justify-content-between pt-3"
        style="font-weight: 300; color: rgba(0, 0, 0, 0.5)"
      >
        <p>Copyright 2024 by Plantry Store - All right reserved &copy;</p>
        <p>Developed By: Gerges Farag</p>
      </div>
    </div>
  </div>
</div>
