.card{
    border: none;
    box-shadow: none;
    width: 250px;
    height: 370px;
}
.img-content:hover img{
    transform: scale(1.3);
}
.img-content:hover .img-control{
    transform: translate(-50% , -10%);
}
.img-content{
    overflow: hidden;
    cursor: pointer;
    height: 320px;
    position: relative;
}
img{
    transition: 0.7s ease;
    height: 100%;
    width: 100%;
}
.img-control{
    position: absolute;
    border-radius: 30px;
    padding: 8px;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , 100%);
    transition: 0.7s ease;
    background-color: rgba(238, 238, 238 , 0.7);
    display: flex;
}
.img-control button{
    background-color: var(--second-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.img-control button svg{
    margin: 0.5rem;
    font-size: 1rem;
    transition: 0.5s ease;
}
.img-content svg:hover{
    color: var(--third-color);
}
.card.featured::after{
    content: "featured";
    padding: 7px;
    border-radius: 2px;
    position: absolute;
    background-color: var(--third-color);
    color: white;
}
h2{
    color: rgba(0,0,0, 0.6)
}
.active{
    color: var(--third-color) !important;
    font-size: 200px;
}
.add-product{
    height: 100%;
    background-color: bisque;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    padding: 20px;
}
 .add-product button{
    all: initial;
    cursor: pointer !important;
    text-align: center;
    color: var(--third-color);
    font-size: 3rem;
}
.add-product:hover{
    opacity: 1;
}