<h2 class="px-3">Our Partners</h2>
<div class="img-fluid">
  <img src="imgs/sep.png" alt="separator" class="sep-img" />
</div>
<div class="container d-flex justify-content-center gap-4">
  <div class="partner">
    <img src="imgs/part1.png" alt="" />
  </div>
  <div class="partner">
    <img src="imgs/part2.png" alt="" />
  </div>
  <div class="partner">
    <img src="imgs/part3.png" alt="" />
  </div>
  <div class="partner">
    <img src="imgs/part4.png" alt="" />
  </div>
  <div class="partner">
    <img src="imgs/part2.png" alt="" />
  </div>
  <div class="partner">
    <img src="imgs/part1.png" alt="" />
  </div>
</div>
