<div class="container px-4 py-3 text-start">
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <img src="imgs/img01.jpg" alt="plant_img" class="w-100 p-5">
      </div>
      <div class="col">
        <div class="row">
            <h2 class="intro-title px-0">Why choose us ?</h2>
            <p class="light-text lorem">Lorem ipsum is simply dummy text of the printing and typesetting industry, lorem ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley.</p>
        </div>
        <div class="my-1 d-flex gap-3 lcont">
            <div class="right-icon">
                <i class="fa-solid fa-leaf icon"></i>
            </div>
            <div class="left-content">
                <h4 class="fw-bold fs-4">Hand Planted</h4>
                <p class="light-text">There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form.</p>
            </div>
        </div>
        <div class="my-1 d-flex gap-3 lcont">
            <div class="right-icon">
                <i class="fa-solid fa-cloud-sun icon"></i>
            </div>
            <div class="left-content">
                <h4 class="fw-bold fs-4">Natural Sunlight</h4>
                <p class="light-text">It is a long established fact that a reader will be distracted by the reable content of a page.
                </p>
            </div>
        </div>
        <div class="my-1 d-flex gap-3 lcont">
            <div class="right-icon">
                <i class="fa-brands fa-canadian-maple-leaf icon"></i>
            </div>
            <div class="left-content">
                <h4 class="fw-bold fs-4">
                    Clean Air</h4>
                <p class="light-text">There are many variations of passages of lorem ipsum available, but the majority have suffered.</p>
            </div>
        </div>
      </div>
    </div>
  </div>