<div class="container d-flex justify-content-center gap-5">
    <div class="item d-flex justify-content-center align-items-center px-3">
        <div class="left">
            <i class="fa-solid fa-truck icon"></i>
        </div>
        <div class="right text-start px-3">
            <h6>Free shipping order</h6>
            <p>On orders over $100</p>
        </div>
    </div>
    <div class="item d-flex justify-content-center align-items-center px-3">
        <div class="left">
            <i class="fa-solid fa-gift icon"></i>
        </div>
        <div class="right text-start px-3">
            <h6>Special gift card</h6>
            <p>The perfect gift idea</p>
        </div>
    </div>
    <div class="item d-flex justify-content-center align-items-center px-3">
        <div class="left">
            <i class="fa-solid fa-rotate-left icon"></i>
        </div>
        <div class="right text-start px-3">
            <h6>Return & exchange
            </h6>
            <p>Free return within 3 days
            </p>
        </div>
    </div>
    <div class="item d-flex justify-content-center align-items-center px-3">
        <div class="left">
            <i class="fa-solid fa-phone-volume icon"></i>
        </div>
        <div class="right text-start px-3">
            <h6>Support 24 / 7</h6>
            <p>Customer support</p>
        </div>
    </div>
</div>